<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/blank}">
<head>
<meta charset="UTF-8">
<title>Appointments</title>
</head>
<body>

	<div class="content-box" layout:fragment="content">
		<div class="element-wrapper">
			<h6 class="element-header" id="title" th:data-title="${title}">Appointments</h6>
			<div class="element-box">


				<div class="table-responsive">
					<table id="dataTable1" 
						class="table table-striped table-lightfont table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Company</th>
								<th>Booking Date</th>
								<th>Appointment Date</th>
								<th>Appointment Time</th>
								<th>Staff</th>
								<th>Status</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Company</th>
								<th>Booking Date</th>
								<th>Appointment Date</th>
								<th>Appointment Time</th>
								<th>Staff</th>
								<th>Status</th>
							</tr>
						</tfoot>
						<tbody>
							<tr th:each="a,i:${appointments}">
								<td th:text="${i.index+1}">Tiger Nixon</td>
								<td th:text="${a.visitor.name}">System Architect</td>
								<td th:text="${a.visitor.company}">Edinburgh</td>
								<td th:text="${a.bookingDate}">61</td>
								<td th:text="${a.appointmentDate}">61</td>
								<td th:text="${a.appointmentTime}">2011/04/25</td>
								<td th:text="${a.staff.firstname+' '+a.staff.lastName}">$320,800</td>
								<td th:text="${a.status==null?'Pending':a.status}" style="text-transform: capitalize;">$320,800</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>

</body>
</html>