<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/blank}">
<head>
<meta charset="UTF-8">
<title>Visits</title>
</head>
<body>

	<div class="content-box" layout:fragment="content">
	<script type="text/javascript" th:inline="javascript">
	
	function signOut(id){
		var catty = [[@{/api/visit/signout/}]]
		  $.ajax({
	        	url:catty+id,
	        	type:'get',
	        	success: function(data){
	        		toastr.success('Success', 'Visitor Signed Out', {timeOut: 5000});

	        	}
	        	
	        });
	        
		
	}
	
	</script>
		<div class="element-wrapper">
			<h6 class="element-header">Visits From <span th:text="${from}"></span> To <span th:text="${from}"></span></h6>
			<div class="element-box">


				<div class="table-responsive">
					<table id="dataTable1" width="100%"
						class="table table-striped table-lightfont">
						<thead>
							<tr>
								<th>#</th>
								<!-- <th>Picture</th> -->
								<th>Name</th>
								<th>Company</th>
								<th>Car Number</th>
								<th>Time In</th>
								<th>Time Out</th>
								<th>Mission</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>#</th>
							<!-- 	<th>Picture</th> -->
								<th>Name</th>
								<th>Company</th>
								<th>Car Number</th>
								<th>Time In</th>
								<th>Time Out</th>
								<th>Mission</th>
								<th>Status</th>
								<th></th>
							</tr>
						</tfoot>
						<tbody>
							<tr th:each="a,i:${visits}">
							<td th:text="${i.index+1}">Tiger Nixon</td>
						<!-- 	<td >
                          <img style="width: 25%"th:src="'http://localhost/akoo/'+${a.picture}">
                        </td> -->
								
								<td th:text="${a.visitorName}" style="text-transform: capitalize;">System Architect</td>
								<td th:text="${a.company}">Edinburgh</td>
								<td th:text="${a.carNumber}">2011/04/25</td>
								<td th:text="${a.timeIn}">61</td>
								<td th:text="${a.timeOut}">61</td>
								<td th:text="${a.mission}"  style="text-transform: capitalize;">$320,800</td>
								<td><span class="text-red" th:if="${a.timeOut ==null}" style="color: red; font-weight:400; " >No Out</span>
								<span th:if="${a.timeOut !=null}" style="color: green; font-weight:400;" >Signed Out</span>
								</td>
								<td> <button class="btn btn-info"  th:data-target="'#pic'+${a.visitId}" data-toggle="modal" type="button"> View image</button> 
								
								<div aria-hidden="true" class="onboarding-modal modal fade animated" th:id="'pic'+${a.visitId}" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-centered" role="document">
          <div class="modal-content text-center">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="os-icon os-icon-close"></span></button>
            <div class="onboarding-media">
              <img alt="" th:src="'http://localhost/akoo/'+${a.picture}" width="100%">
            </div>
            <div class="onboarding-content with-gradient">
              <h4 class="onboarding-title" th:text="${a.visitorName}">
                Showcase App Features
              </h4>
              <!-- <div class="onboarding-text">
                In this example you can showcase some of the features of your application, it is very handy to make new users aware of your hidden features. You can use boostrap columns to split them up.
              </div> -->
           </div>
          </div>
        </div>
      </div></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>

</body>
</html>