<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/blank}">
<head>
<meta charset="UTF-8">
<title>Users</title>

</head>
<body>

	<div class="content-box" layout:fragment="content">
		<script th:src="@{/webcam/webcam.min.js}"></script>

		<script type="text/javascript" th:inline="javascript">
		
			
			function addUser(){
				var form = $('#former1');
				var formdata = false;
				formdata = new FormData(form[0]);
								 
					$.ajax({
						url:[[@{/api/add/user}]],
						data:formdata,
						type:'post',
						processData : false,
						contentType : false,
						cache : false,
						success:function(data){
						
				    		toastr.success('Success', 'User Added', {timeOut: 5000});

								 form[0].reset();
									$('#newuser').modal('toggle');
								 $("#dataTable1").load(window.location + " #dataTable1");
								 $('.modal-backdrop').remove();

							
						}
						
					}); 
					  
				
			
			
				
			}
			
function change(id){
				
				var form = $('#form'+id);
				var formdata = false;
				formdata = new FormData(form[0]);
				formdata.append('id',id);				 
					$.ajax({
						url:[[@{/admin/change/password}]],
						data:formdata,
						type:'post',
						processData : false,
						contentType : false,
						cache : false,
						success:function(data){
						
				    		toastr.success('Success', 'Password Changed', {timeOut: 5000});

								 form[0].reset();
				   				 $("#dataTable1").load(window.location + " #dataTable1");

									$('#change'+id).modal('toggle');
									 $('.modal-backdrop').remove();


							
						}
						
					}); 
					  
				
			
			
				
			}
			
			
function suspend(id){
	var formdata = new FormData();
	formdata.append('id',id);				 
		$.ajax({
			url:[[@{/admin/suspend/user}]],
			data:formdata,
			type:'post',
			processData : false,
			contentType : false,
			cache : false,	
			success:function(data){
			
	    		toastr.success('Success', 'User Account Suspended', {timeOut: 5000});
				 $("#dataTable1").load(window.location + " #dataTable1");

						$('#suspend'+id).modal('toggle');
						 $('.modal-backdrop').remove();

						

				
				
			}
			
		}); 
		  
	


	
}

function activate(id){

	var formdata = new FormData();
	formdata.append('id',id);				 
		$.ajax({
			url:[[@{/admin/activate/user}]],
			data:formdata,
			type:'post',
			processData : false,
			contentType : false,
			cache : false,	
			success:function(data){
			
	    		toastr.success('Success', 'User Account Suspended', {timeOut: 5000});
				 $("#dataTable1").load(window.location + " #dataTable1");
				 $('.modal-backdrop').remove();
						$('#activate'+id).modal('toggle');


				
			}
			
		}); 
		  
	


	
}
	
			
function del(id){

	var formdata = new FormData();
	formdata.append('id',id);				 
		$.ajax({
			url:[[@{/admin/delete/user}]],
			data:formdata,
			type:'post',
			processData : false,
			contentType : false,
			cache : false,	
			success:function(data){
			
	    		toastr.success('Success', 'User entry Deleted', {timeOut: 5000});

						$('#del'+id).modal('toggle');
						 $("#dataTable1").load(window.location + " #dataTable1");
						 $('.modal-backdrop').remove();
							
				
			}
			
		}); 
		  
	


	
}
		</script>
		<div class="element-wrapper">
			<h6 class="element-header">User Settings</h6>
			<button class="btn btn-primary mb-2 text-right"
				data-target="#newuser" data-toggle="modal">Add New User</button>
			<div class="element-box">

				<div class="table-responsive">
					<table id="dataTable1" width="100%"
						class="table table-striped table-lightfont">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>

								<th>Username</th>
								<th>Role</th>
								<th>Status</th>

								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Username</th>
								<th>Role</th>
								<th>Status</th>

								<th></th>
							</tr>
						</tfoot>
						<tbody>
							<tr th:each="a,i:${users}">
								<td th:text="${i.index+1}">Tiger Nixon</td>
								<td th:text="${a.username}">System Architect</td>
								<td th:text="${a.email}">System Architect</td>
								<td th:text="${a.role}">2011/04/25</td>
								<td th:text="${a.status}">2011/04/25</td>
								<td>
									<button class="btn btn-danger" th:data-target="'#del'+${a.id}"
										data-toggle="modal">Delete</button>
									<div th:id="'del'+${a.id}" class="modal fade">
										<div class="modal-dialog modal-confirm">
											<div class="modal-content">
												<div class="modal-header">
													<div class="icon-box"></div>
													<h4 class="modal-title">Are you sure?</h4>
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">&times;</button>
												</div>
												<div class="modal-body">
													<p>Do you really want to delete these records? This
														process cannot be undone.</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-danger"
														th:onclick="'del('+${a.id}+')'">Delete</button>
												</div>
											</div>
										</div>
									</div>

									<button class="btn btn-warning" th:if="${a.status=='Active'}"
										th:data-target="'#suspend'+${a.id}" data-toggle="modal">
										Suspend</button>
										
											<div th:id="'suspend'+${a.id}" class="modal fade">
										<div class="modal-dialog modal-confirm">
											<div class="modal-content">
												<div class="modal-header">
													<div class="icon-box"></div>
													<h4 class="modal-title">Are you sure?</h4>
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">&times;</button>
												</div>
												<div class="modal-body">
													<p>Do you really want to suspend this account? This
														process cannot be undone.</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-warning" 
														th:onclick="'suspend('+${a.id}+')'">Suspend</button>
												</div>
											</div>
										</div>
									</div>
										
										

									<button class="btn btn-primary"
										th:data-target="'#change'+${a.id}" data-toggle="modal">
										Change Password</button>
									<div aria-hidden="true" aria-labelledby="mySmallModalLabel2"
										th:id="'change'+${a.id}"
										class="modal fade bd-example-modal-sm" role="dialog"
										tabindex="-1">
										<div class="modal-dialog modal-md">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Change
														Password</h5>
												</div>
												<div class="modal-body">
													<form th:id="'form'+${a.id}">
														<div class="row">
															<div class="col-sm-6">
																<div class="form-group">
																	<label for=""> Password</label><input
																		class="form-control" placeholder="Password"
																		type="password" name="password">
																</div>
															</div>
															<div class="col-sm-6">
																<div class="form-group">
																	<label for="">Confirm Password</label><input
																		class="form-control" placeholder="Password"
																		type="password">
																</div>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button class="btn btn-secondary" data-dismiss="modal"
														type="button">Close</button>
													<button class="btn btn-success" type="button"
														th:onclick="'change('+${a.id}+')'">Change
														Password</button>
												</div>
											</div>
										</div>
									</div>

<button class="btn btn-success" th:data-target="'#activate'+${a.id}" th:if="${a.status=='Suspended'}"
										data-toggle="modal">Activate </button>
										
											<div th:id="'activate'+${a.id}" class="modal fade">
										<div class="modal-dialog modal-confirm">
											<div class="modal-content">
												<div class="modal-header">
													<div class="icon-box"></div>
													<h4 class="modal-title">Are you sure?</h4>
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">&times;</button>
												</div>
												<div class="modal-body">
													<p>Do you really want to delete these records? This
														process cannot be undone.</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-warning"
														th:onclick="'activate('+${a.id}+')'">Activate </button>
												</div>
											</div>
										</div>
									</div>
										
								</td>

							</tr>

						</tbody>
					</table>
				</div>



			</div>
		</div>

		<div aria-hidden="true" aria-labelledby="mySmallModalLabel"
			id="newuser" class="modal fade bd-example-modal-sm" role="dialog"
			tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
						<button aria-label="Close" class="close" data-dismiss="modal"
							type="button">
							<span aria-hidden="true"> &times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="former1">

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for=""> Name</label><input class="form-control"
											placeholder="Name" name="name" type="text">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="">Email</label><input class="form-control"
											placeholder="Email" type="email" name="email">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for=""> Password</label><input class="form-control"
											placeholder="Password" type="password" name="pass">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="">Confirm Password</label><input
											class="form-control" placeholder="Password" type="password">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for=""> Access Level</label><select
									class="form-control" name="role">
									<option>Select State</option>
									<option>Administrator</option>
									<option>Security</option>
									<option>Receptionist</option>

								</select>
							</div>
						</form>

					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal"
							type="button">Close</button>
						<button class="btn btn-success" type="button" onclick="addUser()">
							Add User</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>