<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/blank}">
<head>
<meta charset="UTF-8">
<title>Staff</title>
</head>
<body>

	<div class="content-box" layout:fragment="content">

		<div class="element-wrapper">
			<h6 class="element-header" id="title" th:data-title="${title}">Staff
				List</h6>
			<div class="element-box">


				<div class="table-responsive">
					<table id="dataTable1" style="width: 100%;"
						class="table table-striped table-lightfont table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Department</th>
								<th>Position</th>
								<th>Contact</th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Department</th>
								<th>Position</th>
								<th>Contact</th>
								<th></th>
							</tr>
						</tfoot>
						<tbody>
							<tr th:each="a,i:${staff}">
								<td th:text="${i.index+1}">Tiger Nixon</td>
								<td th:text="${a.firstname+' '+a.lastName}">System
									Architect</td>
								<td th:text="${a.dept}">Edinburgh</td>
								<td th:text="${a.position}">61</td>
								<td th:text="${a.id}">2011/04/25</td>
								<td>
									<button class="btn btn-danger"
										th:data-target="'#del'+${a.rowId}"
										th:if="${#authorization.expression('hasAuthority(''Administrator'')')}"
										data-toggle="modal">Delete</button> 
										<button class="btn btn-primary" th:data-target="'#mgs'+${a.id}"
										data-toggle="modal">Send Message</button>
										<button class="btn btn-warning"
											th:data-target="'#suspend'+${a.rowId}" data-toggle="modal"
											th:if="${a.status=='active'}">Suspend</button>
										
									<div th:id="'del'+${a.rowId}" class="modal fade">
										<div class="modal-dialog modal-confirm">
											<div class="modal-content">
												<div class="modal-header">
													<div class="icon-box"></div>
													<h4 class="modal-title">Are you sure?</h4>
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">&times;</button>
												</div>
												<div class="modal-body">
													<p>Do you really want to delete these records? This
														process cannot be undone.</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-danger"
														th:onclick="'del('+${a.rowId}+')'">Delete</button>
												</div>
											</div>
										</div>
									</div>
									<div
										th:if="${#authorization.expression('hasAuthority(''Administrator'')')}">
										
									</div>

									<div th:id="'suspend'+${a.rowId}" class="modal fade">
										<div class="modal-dialog modal-confirm">
											<div class="modal-content">
												<div class="modal-header">
													<div class="icon-box"></div>
													<h4 class="modal-title">Are you sure?</h4>
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">&times;</button>
												</div>
												<div class="modal-body">
													<p>Do you really want to suspend this account? This
														process cannot be undone.</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-warning"
														th:if="${#authorization.expression('hasAuthority(''Administrator'')')}"
														th:onclick="'suspend('+${a.rowId}+')'">Suspend</button>
												</div>
											</div>
										</div>
									</div>



									

									<div aria-hidden="true" aria-labelledby="mySmallModalLabel"
										th:id="'mgs'+${a.id}" class="modal fade bd-example-modal-sm"
										role="dialog" tabindex="-1">
										<div class="modal-dialog modal-sm">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Send Message</h5>
													<button aria-label="Close" class="close"
														data-dismiss="modal" type="button">
														<span aria-hidden="true"> &times;</span>
													</button>
												</div>
												<div class="modal-body">
													<form>
														<div class="form-group">
															<label for=""> Message Content</label>
															<textarea rows="8" class="form-control"
																placeholder="Enter content" th:id="'text'+${i.index}"
																th:data-sender="${a.id}"></textarea>
														</div>

													</form>
												</div>
												<div class="modal-footer">
													<button class="btn btn-secondary" data-dismiss="modal"
														type="button">Close</button>
													<button class="btn btn-success" type="button"
														th:onclick="'sends('+${i.index}+')'">Send</button>
												</div>
											</div>
										</div>
									</div> <!--     -->

									<button class="btn btn-success"
										th:data-target="'#activate'+${a.rowId}"
										th:if="${a.status=='suspended'}" data-toggle="modal">Activate
									</button>

									<div th:id="'activate'+${a.rowId}" class="modal fade">
										<div class="modal-dialog modal-confirm">
											<div class="modal-content">
												<div class="modal-header">
													<div class="icon-box"></div>
													<h4 class="modal-title">Are you sure?</h4>
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">&times;</button>
												</div>
												<div class="modal-body">
													<p>Do you really want to delete these records? This
														process cannot be undone.</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-primary"
														data-dismiss="modal">Cancel</button>
													<button type="button" class="btn btn-success"
														th:onclick="'activate('+${a.rowId}+')'">Activate</button>
												</div>
											</div>
										</div>
									</div>

								</td>


							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

		<script type="text/javascript" th:inline="javascript">
function sends(id){

	var code =$('#text'+id).attr('data-sender');
	var msg=$('#text'+id).val();
	var formdata = new FormData();
	formdata.append('id',code);
	formdata.append('message',msg);
$.ajax({
	url:[[@{/admin/message/send}]],
	type:'post',
	data:formdata,
	processData : false,
	contentType : false,
	cache : false,
	success: function(data){
	
		$('#mgs'+code).modal('toggle');
		toastr.success('Success', 'Message Sent', {timeOut: 5000});
		

	}
	
});
}


function suspend(id){

	var formdata = new FormData();
	formdata.append('id',id);				 
		$.ajax({
			url:[[@{/admin/suspend/staff}]],
			data:formdata,
			type:'post',
			processData : false,
			contentType : false,
			cache : false,	
			success:function(data){
			
	    		toastr.success('Success', 'User Account Suspended', {timeOut: 5000});

						$('#suspend'+id).modal('toggle');
					
			    			location.reload();

				
			}
			
		}); 
		  
	


	
}
			
			
function activate(id){

	var formdata = new FormData();
	formdata.append('id',id);				 
		$.ajax({
			url:[[@{/admin/activate/staff}]],
			data:formdata,
			type:'post',
			processData : false,
			contentType : false,
			cache : false,	
			success:function(data){
			
	    		toastr.success('Success', 'Staff Account Activated', {timeOut: 5000});

						$('#activate'+id).modal('toggle');
						location.reload();
				
			}
			
		}); 
		  
	


	
}
	
			
function del(id){

	var formdata = new FormData();
	formdata.append('id',id);				 
		$.ajax({
			url:[[@{/admin/delete/staff}]],
			data:formdata,
			type:'post',
			processData : false,
			contentType : false,
			cache : false,	
			success:function(data){
			
	    		toastr.success('Success', 'User entry Deleted', {timeOut: 5000});

						$('#del'+id).modal('toggle');
						location.reload();
				
			}
			
		}); 
		  
	


	
}
</script>
	</div>

</body>
</html>